.lead {
  max-width: 984px;
  height: 1005px;
  margin: 0 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 896px) {
  .root__content {
    margin-bottom: 88px;
  }
}
