.content__places {
  box-sizing: border-box;
  padding: 0 148px;
  width: 100%;
}

@media screen and (max-width: 1180px) {
  .content__places {
    padding: 0 98px;
  }
}

@media screen and (max-width: 1080px) {
  .content__places {
    padding: 0 48px;
  }
}

@media screen and (max-width: 896px) {
  .content__places {
    padding: 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .content__places {
    padding: 0;
  }
}
