.content__intro {
  padding-left: 148px;
  margin: 0;
}

@media screen and (max-width: 1180px) {
  .content__intro {
    padding: 0 98px;
  }
}

@media screen and (max-width: 1080px) {
  .content__intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 896px) {
  .content__intro {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 544px) {
  .content__intro {
    padding-left: 16px;
    padding-right: 16px;
  }
}
