.lead__subtitle {
  max-width: 640px;
  min-height: 40px;
  margin: 32px auto 64px;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 1152px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 896px) {
  .lead__subtitle {
    padding: 0 16px;
  }
}

@media screen and (max-width: 544px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 40px;
  }
}
