.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  margin: 0;
  align-self: flex-start;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 896px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 544px) {
  .lead__caption {
    padding-left: 16px;
  }
}
