.place {
  color: #fff;
  width: 100%;
  display: grid;
  grid-template-columns: 460px minmax(320px, auto);
  grid-template-rows: repeat(auto-fit, minmax(35px, auto));
  gap: 48px 40px;
}

@media screen and (max-width: 1152px) {
  .place {
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 896px) {
  .place {
    grid-template-columns: 340px auto;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    grid-template-columns: minmax(320px, auto);
    gap: 32px;
  }
}
